
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #fff;
}

thead th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #444;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    background-color: #e74c3c;
    color: #902525;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #c0392b;
}

@media screen and (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    tbody tr {
        margin-bottom: 10px;
        border: 1px solid #ddd;
    }

    tbody td {
        padding: 10px;
        text-align: right;
        position: relative;
    }

    tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(100% - 20px);
        text-align: left;
        font-weight: bold;
    }
}
